[Desktop Entry]
Categories=Game
Comment[zh_CN]=崩坏：星穹铁道（WINE）
Comment=崩坏：星穹铁道（WINE）
Exec=env WINEPREFIX=/home/ice/.wine MANGOHUD=1 ENABLE_VKBASALT=1 DXVK_FILTER_DEVICE_NAME=AMD /usr/bin/gamemoderun /usr/share/steam/compatibilitytools.d/proton-ge-custom/files/bin/wine /home/ice/git/jadeite/jadeite.exe 'Z:\\home\\ice\\GAME\\Star Rail\\Game\\StarRail.exe'
GenericName[zh_CN]=崩坏：星穹铁道（WINE）
GenericName=崩坏：星穹铁道（WINE）
Icon=/home/ice/Pictures/星穹铁道/hsr.png
MimeType=
Name[zh_CN]=崩坏：星穹铁道（WINE）
Name=崩坏：星穹铁道（WINE）
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
