[Desktop Entry]
Comment[zh_CN]=原神（WINE）
Comment=原神（WINE）
Exec=/home/ice/git/Hoyo_games_desktopfiles/scripts/umu_ys.sh
GenericName[zh_CN]=原神（WINE）
GenericName=原神（WINE）
Icon=9216_launcher.0
MimeType=
Name[zh_CN]=原神（WINE）
Name=原神（WINE）
Path=
StartupNotify=true
StartupWMClass=launcher.exe
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
