[Desktop Entry]
Categories=Game
Comment[zh_CN]=崩坏：星穹铁道（WINE）
Comment=崩坏：星穹铁道（WINE）
Exec=/home/ice/git/Hoyo_games_desktopfiles/scripts/umu_hsr.sh
GenericName[zh_CN]=崩坏：星穹铁道（WINE）
GenericName=崩坏：星穹铁道（WINE）
Icon=/home/ice/Pictures/星穹铁道/hsr.png
MimeType=
Name[zh_CN]=崩坏：星穹铁道（WINE）
Name=崩坏：星穹铁道（WINE）
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
